.box_main {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;

  @media (max-width: 800px) {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .box_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .box_customer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .customerInput {
      width: 45%;
      margin-bottom: 10px;
    }

    .box_btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
